.main-container {
    display: flex;
    flex-direction: column;
}
.manually-container {

}
.upload-form {
    max-width: 400px;
    margin: 0px auto;
    margin-top: 20px;
    background-color: transparent;
    padding: 20px;
    display: flex;
    text-align: center;
}
.choose-file-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.file-input {
    display: none;
}
.choose-file-button label {
    background-color: white;
    color: black;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#file-name {
    font-size: 12px;
    text-align: center;
    display: block;
    margin-top: 15px;
    color: #888;
}
#tableName {
    margin-left: 10px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-self: center;
}
.upload-button {
    background-color: #4CAF50;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    background: linear-gradient(to right, #8CA6DB, #B993D6);
    color: #fff;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}
.upload-button img {
    height: 30px;
    width: 30px;
}
.upload-button:hover, .choose-file-button label:hover {
    box-shadow: none;
}
form{
    margin: 20px;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    background: linear-gradient(to right, #8CA6DB, #B993D6);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background: #b395d6;
}
