@(folderName: String)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Entry</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/add_entry.css")">
</head>
<body>
    <div class="main-container">

    <div class="upload-form">
        <form action="@routes.AddEntryController.uploadFile(folderName)" method="post" enctype="multipart/form-data" onsubmit="disableUploadButton()">
            @helper.CSRF.formField
            <div class="choose-file-button">
                <label for="jsonFile">Choose JSON File</label>
                <input type="file" name="jsonFile" id="jsonFile" accept=".json" class="file-input" onchange="displayFileName()" required>
            </div>
            <span id="file-name"></span>

            <button type="submit" class="upload-button" id="uploadButton"><img src="@routes.Assets.versioned("images/upload.png")" alt="Upload Image"></button>
        </form>
    </div>

    <div class="manually-container">
            @helper.form(action = routes.AddEntryController.addEntry(folderName)) {
            <div class="form-group">
                <label for="aadhaar_id">Aadhar Id:</label>
                <input type="text" id="aadhaar_id" name="aadhaar_id" class="form-control no-border underline" placeholder="Aadhaar ID" required>
            </div>

            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" class="form-control no-border underline" placeholder="First Name" required>
            </div>

            <div class="form-group">
                <label for="second_name">Second Name:</label>
                <input type="text" id="second_name" name="second_name" class="form-control no-border underline" placeholder="Second Name" required>
            </div>

            <div class="form-group">
                <label for="gender">Gender:</label>
                <input type="text" id="gender" name="gender" class="form-control no-border underline" placeholder="Gender" required>
            </div>

            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" class="form-control no-border underline" placeholder="Age" required>
            </div>

            <div class="form-group">
                <label for="dob">DOB:</label>
                <input type="text" id="dob" name="dob" class="form-control no-border underline" placeholder="Date of Birth" required>
            </div>

            <div class="form-group">
                <label for="occupation">Occupation:</label>
                <input type="text" id="occupation" name="occupation" class="form-control no-border underline" placeholder="Occupation" required>
            </div>

            <div class="form-group">
                <label for="monthly_income">Monthly Income:</label>
                <input type="number" id="monthly_income" name="monthly_income" class="form-control no-border underline" placeholder="Monthly Income" required>
            </div>

            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" class="form-control no-border underline" placeholder="Category" required>
            </div>

            <div class="form-group">
                <label for="father_name">Father's Name:</label>
                <input type="text" id="father_name" name="father_name" class="form-control no-border underline" placeholder="Father's Name" required>
            </div>

            <div class="form-group">
                <label for="mother_name">Mother's Name:</label>
                <input type="text" id="mother_name" name="mother_name" class="form-control no-border underline" placeholder="Mother's Name" required>
            </div>

            <div class="form-group">
                <label for="street">Street:</label>
                <input type="text" id="street" name="street" class="form-control no-border underline" placeholder="Street" required>
            </div>

            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" class="form-control no-border underline" placeholder="City" required>
            </div>

            <div class="form-group">
                <label for="state">State:</label>
                <input type="text" id="state" name="state" class="form-control no-border underline" placeholder="State" required>
            </div>

            <div class="form-group">
                <label for="postalCode">Postal Code:</label>
                <input type="text" id="postalCode" name="postalCode" class="form-control no-border underline" placeholder="Postal Code" required>
            </div>

            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone" class="form-control no-border underline" placeholder="Phone" required>
            </div>

            @helper.CSRF.formField
            <button type="submit" style="margin-top: 20px;">Submit</button>
            }
        </div>
    </div>

    <script>
        function displayFileName() {
            const input = document.getElementById('jsonFile');
            const fileName = input.files[0].name;
            document.getElementById('file-name').textContent = 'Selected File: ' + fileName;
        }
        function disableUploadButton() {
            document.getElementById("uploadButton").disabled = true;
            document.getElementById("uploadButton").style.display = "none";
        }
        document.getElementById("uploadForm").addEventListener("submit", function() {
            disableUploadButton();
        });
        document.getElementById("uploadForm").addEventListener("load", function() {
            document.getElementById("uploadButton").disabled = false;
        });
    </script>

</body>
</html>
